.click-item {
    background-size: cover;
    background-position: 50%;
    height: 200px;
    width: 200px;
    margin: 8px 25px;
    border: 5px solid #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

div {
    display: block;
}