.container {
  display: flex;
  padding-top: 50px;
  background: #fffdd0;
  height: 90%;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  overflow: auto;
}

/* display: -ms-flexbox;
    display: flex;
    min-height: 80%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    margin: 0 auto; */