.container {
  display: flex;
  padding-top: 50px;
  background: #fffdd0;
  height: 90%;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  border-radius: 10%;
  overflow: auto;
}

body {
  background-color: whitesmoke;
  background-image: url("https://cutewallpaper.org/21/attack-on-titan-minimalist-wallpaper/Attack-On-Titan-Minimalist-Hd-Wallpapers-backgrounds-.jpg");
}